.Rproj.user
.Rhistory
.RData
.rds
.xlsx
/rapport/valideringsrapport/output/*
/rapport/valideringsrapport/output_bk/*
/rapport/valideringsrapport/analyse/person.xlsx
/rapport/valideringsrapport/_bookdown_files/*
*.log
