.Rproj.user
.Rhistory
.RData
.rds
.xlsx
/rapport/valideringsrapport/output/*
/rapport/valideringsrapport/html/*
/rapport/valideringsrapport/output_bk/*
/rapport/valideringsrapport/analyse/person.xlsx
/rapport/valideringsrapport/_bookdown_files/*
*.log
huxtable-output.pdf
/rapport/benchmark/test.pdf
/rapport/benchmark/docs/libs/*
/rapport/benchmark/benchrap.aux
/rapport/benchmark/benchrap.fdb_latexmk
/rapport/benchmark/benchrap.fls
/rapport/benchmark/benchrap.out
/rapport/benchmark/benchrap.toc
/rapport/benchmark/header.tex